.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/executionHistory/executionHistory.lock
.gradle/5.2.1/fileHashes/fileHashes.bin
.gradle/5.2.1/fileHashes/fileHashes.lock
.gradle/5.2.1/javaCompile/javaCompile.lock
.gradle/5.2.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/.name
build/classes/java/test/ApiStepdefs.class
build/classes/java/test/steps/ApiStepdefs.class
build/classes/java/test/util/jsonUtil.class
build/resources/test/features/TradeMeAPIs.feature
.gradle/5.2.1/javaCompile/classAnalysis.bin
build/classes/java/test/RunTestSuite.class
build/reports/tests/test/index.html
build/reports/tests/test/classes/RunTestSuite.html
build/reports/tests/test/classes/Test#20TradeMe#20Public#20APIs.html
build/reports/tests/test/classes/Used#20Cars#20Info.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/js/report.js
build/reports/tests/test/packages/default-package.html
build/test-results/test/TEST-RunTestSuite.xml
build/test-results/test/TEST-Test#20TradeMe#20Public#20APIs.xml
build/test-results/test/TEST-Used#20Cars#20Info.xml
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
target/cucumber/cucumber-html-reports/overview-failures.html
target/cucumber/cucumber-html-reports/overview-features.html
target/cucumber/cucumber-html-reports/overview-steps.html
target/cucumber/cucumber-html-reports/overview-tags.html
target/cucumber/cucumber-html-reports/report-feature_1_1745460695.html
target/cucumber/cucumber-html-reports/report-feature_1372504328.html
target/cucumber/cucumber-html-reports/css/bootstrap.min.css
target/cucumber/cucumber-html-reports/css/cucumber.css
target/cucumber/cucumber-html-reports/css/font-awesome.min.css
target/cucumber/cucumber-html-reports/fonts/FontAwesome.otf
target/cucumber/cucumber-html-reports/fonts/fontawesome-webfont.eot
target/cucumber/cucumber-html-reports/fonts/fontawesome-webfont.svg
target/cucumber/cucumber-html-reports/fonts/fontawesome-webfont.ttf
target/cucumber/cucumber-html-reports/fonts/fontawesome-webfont.woff
target/cucumber/cucumber-html-reports/fonts/fontawesome-webfont.woff2
target/cucumber/cucumber-html-reports/fonts/glyphicons-halflings-regular.eot
target/cucumber/cucumber-html-reports/fonts/glyphicons-halflings-regular.svg
target/cucumber/cucumber-html-reports/fonts/glyphicons-halflings-regular.ttf
target/cucumber/cucumber-html-reports/fonts/glyphicons-halflings-regular.woff
target/cucumber/cucumber-html-reports/fonts/glyphicons-halflings-regular.woff2
target/cucumber/cucumber-html-reports/images/favicon.png
target/cucumber/cucumber-html-reports/js/bootstrap.min.js
target/cucumber/cucumber-html-reports/js/Chart.min.js
target/cucumber/cucumber-html-reports/js/jquery.min.js
target/cucumber/cucumber-html-reports/js/jquery.tablesorter.min.js
target/cucumber/cucumber-html-reports/js/moment.min.js
